.about-img{
    width: 400px;
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px  rgba(179, 175, 175, 0.6);
}
.about-img-area{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
}
.heading{
    position: relative;
}
.heading::after{
    content: "";
    height: 3px;
    width: 200px;
    background-color: #333;
    position: absolute;
    margin-left: -200px;
    bottom: -2px;
}
.social-links{
    margin-top: 20px;
}
.social-icon{
    padding: 10px;
    font-size: 20px;
}


@media screen and (max-width:668px) {
    .heading::after {
        width: 140px;
        margin-left: -140px;
    }
    .about-img-area {
        padding: 0px 20px;
    }
    
    .about-content {
        padding: 40px;
        text-align: justify;
    }
}