
.profile-meta{
    display: flex;
    align-items: center;
    /* height: 520px; */
    height: 100vh;
    text-transform: uppercase;
}
.hello{
    position: relative;
}
.hello::after{
    content: "";
    height: 3px;
    width: 300px;
    background-color: #333;
    position: absolute;
    right: 0;
    top: 50%;
}
.profile-img{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    height: 100vh;
}
.profile-img img{
    width: 50%;
    border-radius: 50%;
    border: 1px solid #ddd;
    padding: 5px;
}